table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: none;
}

th,
td {
  text-align: left;
  padding: 16px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.shopDialog {
  padding: 100px;
}
h3 {
  font-family: cursive !important;
}
mat-form-field {
  width: 500px;
}
